.array-container {
  margin-top: 1.6em;
  width: 100%;
  height: 100%;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.array-bar {
  width: 7px;
  font-family: sans-serif;
  display: inline-block;
  content: "remember";
  margin: 0 1px;
}
